@charset "UTF-8";
/* CSS Document */
	html{background-color:darkolivegreen}
		iframe{border:none;
			display:block;
			margin:auto
		}
		#content {background-color: white;
			margin:0 auto;}
		h3{text-align: center;
		margin: 10px}
		h4{text-align: center;
		margin: 10px}
		img { display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;}
		p{margin: 10px}

