@charset "UTF-8";
/* CSS Document */
		html{background-color:darkolivegreen}
		iframe{border:none;
			display:block;
			margin:auto
		}
		#content {background-color: white;
			margin:0 auto;}
		h3{text-align: center;
		margin: 10px}
		h4{text-align: center;
		margin: 10px}
	
		p{margin: 10px}
